<div class="app-container">
    <as-split direction="horizontal" class="app-split">
      <as-split-area [size]="30" class="app-split-area">
        <as-split direction="vertical" class="app-split">
            <as-split-area [size]="70" class="app-split-area">
                <app-route></app-route> 
            </as-split-area>
            <as-split-area [size]="30" class="app-split-area">
                <app-visit></app-visit>
            </as-split-area>
        </as-split> 
      </as-split-area>
    
      <as-split-area [size]="70" class="app-split-area">
        <app-map></app-map>
      </as-split-area>
    </as-split>
</div>